[worldserver]

#########################################################
#
#    ANTI MULTI ACCOUNT SYSTEM (AMAS)
#
#	AMAS.Enable
#     	Description: Enable or disable this system.
#     	Default: 1 - Enable
#

AMAS.Enable = 1

#
#	SYSTEM SETTINGS: ACCOUNT
#
#	AMAS.Min.Total.Time.Account
#		Description: Minimum playing time for the account, so as not to cause suspicion (sec)
#		Default: 86400 (1 day)
#
#	AMAS.WP.Total.Time.Account
#		Description: Warning point at check AMAS.Min.Total.Time.Account
#		Default: 10
#

AMAS.Min.Total.Time.Account = 86400
AMAS.WP.Total.Time.Account = 10

#
#	SYSTEM SETTINGS: ITEM LEVEL
#
#	AMAS.Min.Average.Ilvl
#		Description: Minimum item level for player, so as not to cause suspicion
#		Default: 50
#
#	AMAS.WP.Average.Ilvl
#		Description: Warning point at check AMAS.Min.Average.Ilvl
#		Default: 10
#

AMAS.Min.Average.Ilvl = 50
AMAS.WP.Average.Ilvl = 10

#
#	SYSTEM SETTINGS: TALENT
#
#	AMAS.WP.Free.Talent
#		Description: Warning point at check free talent
#		Default: 5

AMAS.WP.Free.Talent = 5

#
#	SYSTEM SETTINGS: QUEST
#
#	AMAS.Min.Completed.Quest.Count
#		Description: Minimum quest rewarded count for player, so as not to cause suspicion
#		Default: 10
#
#	AMAS.WP.Completed.Quest.Count
#		Description: Warning point at check AMAS.Min.Completed.Quest.Count
#		Default: 10
#

AMAS.Min.Completed.Quest.Count = 10
AMAS.WP.Completed.Quest.Count = 10

#
#	SYSTEM SETTINGS: FRIEND
#
#	AMAS.Min.Friend.Count
#		Description: Minimum friend count for player, so as not to cause suspicion
#		Default: 2
#
#	AMAS.WP.Min.Friend
#		Description: Warning point at check AMAS.Min.Friend.Count
#		Default: 5

AMAS.Min.Friend.Count = 2
AMAS.WP.Min.Friend = 5

#
#	SYSTEM SETTINGS: PVP
#
#	AMAS.WP.NULL.Honor.And.Kills
#		Description: Warning point at check honor = 0 and pvp kills = 0
#		Default: 10
#

AMAS.WP.NULL.Honor.And.Kills = 10

#
#	SYSTEM SETTINGS: MONEY
#
#	AMAS.Max.Count.Money
#		Description: Maximum money count (gold) for player, so as not to cause suspicion
#		Default: 2
#
#	AMAS.WP.Max.Count.Money
#		Description: Warning point at check AMAS.Max.Count.Money
#		Default: 5
#

AMAS.Max.Count.Money = 10000
AMAS.WP.Max.Count.Money = 10

#
#	SYSTEM SETTINGS: SPELLS
#
#	AMAS.Min.Missing.Trainer.Spells
#		Description: Minimum missing tainer spell for player, so as not to cause suspicion
#		Default: 1
#
#	AMAS.WP.Missing.One.Trainer.Spell
#		Description: Add warning point at check spell trainer (if > AMAS.Min.Missing.Trainer.Spells) (for each don't learn spell)
#		Default: 5
#

AMAS.Min.Missing.Trainer.Spells = 1
AMAS.WP.Missing.One.Trainer.Spell = 5

#
#	SYSTEM SETTINGS: ZONE
#
#	AMAS.WP.Warning.Zone
#		Description: Warning point at check warning zone (in DB amas_warning_zone)
#		Default: 10
#

AMAS.WP.Warning.Zone = 10

#
#	SYSTEM SETTINGS: SKILLS (PROFESSION)
#
#	AMAS.Min.Profession
#		Description: Minimum profession for player, so as not to cause suspicion
#		Default: 1
#
#	AMAS.WP.Trainer.Spells
#		Description: Warning point at check profession (if < 1)
#		Default: 10

AMAS.Min.Profession = 1
AMAS.WP.Professions = 10

#
#	SYSTEM SETTINGS: IP
#
#	AMAS.WP.More.IP.Full
#		Description: Warning point at check all playes ip (full ip) in world > 1
#		Default: 20
#
#	AMAS.WP.More.IP.First
#		Description: Warning point at check all playes ip (first byte) in world > 1
#		Default: 10
#

AMAS.WP.More.IP.Full = 20
AMAS.WP.More.IP.FirstByte = 10

#
#	SYSTEM SETTINGS: CREATION DATE
#
#	AMAS.Min.Diff.Account.Create 
#		Description: Min difference between account creation date and now
#		Default: 86400 (1 day)
#
#	AMAS.Min.Diff.Character.Create
#		Description: Min difference between character creation date and now
#		Default: 86400 (1 day)
#
#	AMAS.WP.Diff.Account
#		Description: Warning point at check AMAS.Min.Diff.Account.Create 
#		Default: 10
#
#	AMAS.WP.Diff.Character
#		Description: Warning point at check AMAS.Min.Diff.Character.Create
#		Default: 5
#

AMAS.Min.Diff.Account.Create = 86400
AMAS.Min.Diff.Character.Create = 86400
AMAS.WP.Diff.Account = 10
AMAS.WP.Diff.Character = 5

#
#	SYSTEM SETTINGS: AVERAGE SESSION
#
#	AMAS.Min.Average.Session
#		Description: Min average duration session in seconds
#		Default: 30000 (5 min)
#
#	AMAS.WP.Min.Average.Session
#		Description: Warning point at check AMAS.WP.Min.Average.Session
#		Default: 10

AMAS.Min.Average.Session = 300000
AMAS.WP.Min.Average.Session = 10

#	SYSTEM SETTINGS: CONFIRMED MULTI ACCOUNT
#
#	AMAS.Confirmed.Min.Points
#		Description: Minimum warning points player, for Confirmed Multi Account
#		Default: 100
#
#	AMAS.Confirmed.Action
#		Description: Type action. 1 - Ban, 2 - GM message, 3 - All
#		Default: 2
#
#	AMAS.Confirmed.Action.Ban.RandomInterval.Min
#		Description: Minimum time for ban interval (sec)
#		Default: 86440 (1 day)
#
#	AMAS.Confirmed.Action.Ban.RandomInterval
#		Description: Maximum time for ban interval (sec)
#		Default: 172880 (2 days)
#
#	AMAS.Confirmed.Action.Ban.Reason
#		Description: Ban reason 
#		Default: "This account has been banned for using multiple accounts"
#

AMAS.Confirmed.Min.Points = 100
AMAS.Confirmed.Action = 2
AMAS.Confirmed.Ban.RandomInterval.Min = 86440
AMAS.Confirmed.Ban.RandomInterval.Max = 172880
AMAS.Confirmed.Ban.Reason = "This account has been banned for using multiple accounts"

#
#	SYSTEM SETTINGS: OTHER
#
#	AMAS.Suspicious.Account.Min.Points
#		Description: Minimum warning points player, for suspicious
#		Default: 15
#
#	AMAS.Low.GMLevel
#		Description: Minimum GMLevel
#		Default: 2
#
#	AMAS.High.GMLevel
#		Description: Maxmimum GMLevel
#		Default: 3
#
#	AMAS.Warning.Interval
#		Description: (sec)
#		Default: 1800 (30 min)
#
#	AMAS.Min.Time.For.DB.History
#		Description: Min diff time (last save and now) for save history to DB (sec)
#		Default: 43200 (12 h)
#
#	AMAS.GM.Check.Enable
#		Description: Enable check GM's account
#		Default: 1 - Enable
#
#	AMAS.Full.IP.Check.Enable
#		Description: Enable full check ip (online and offline) or only online
#		Default: 1 - Enable
#

AMAS.Suspicious.Account.Min.Points = 20
AMAS.Low.GMLevel = 2
AMAS.High.GMLevel = 3
AMAS.Warning.Interval = 1800
AMAS.Min.Time.For.DB.History = 43200
AMAS.GM.Check.Enable = 1
AMAS.Full.IP.Check.Enable = 1

#
###################################################################################################