[worldserver]
#########################################################
#
#    ANTI MULTI ACCOUNT SYSTEM (AMAS)
#
#	AMAS.Enable
#     	Description: Enable or disable this system.
#     	Default: 1 - Enable
#

AMAS.Enable = 1

#
#	SYSTEM SETTINGS: ACCOUNT
#
#	AMAS.Min.Total.Time.Account
#		Description: Minimum playing time for the account, so as not to cause suspicion (sec)
#		Default: 86400 (1 day)
#
#	AMAS.Warning.Point.Total.Time.Account
#		Description: Warning point at check AMAS.Min.Total.Time.Account
#		Default: 10
#

AMAS.Min.Total.Time.Account = 86400
AMAS.Warning.Point.Total.Time.Account = 10

#
#	SYSTEM SETTINGS: ITEM LEVEL
#
#	AMAS.Min.Average.Ilvl
#		Description: Minimum item level for player, so as not to cause suspicion
#		Default: 50
#
#	AMAS.Warning.Point.Average.Ilvl
#		Description: Warning point at check AMAS.Min.Average.Ilvl
#		Default: 10
#

AMAS.Min.Average.Ilvl = 50
AMAS.Warning.Point.Average.Ilvl = 10

#
#	SYSTEM SETTINGS: TALENT
#
#	AMAS.Warning.Point.Free.Talent
#		Description: Warning point at check free talent
#		Default: 5

AMAS.Warning.Point.Free.Talent = 5

#
#	SYSTEM SETTINGS: QUEST
#
#	AMAS.Min.Completed.Quest.Count
#		Description: Minimum quest rewarded count for player, so as not to cause suspicion
#		Default: 10
#
#	AMAS.Warning.Point.Completed.Quest.Count
#		Description: Warning point at check AMAS.Min.Completed.Quest.Count
#		Default: 10
#

AMAS.Min.Completed.Quest.Count = 10
AMAS.Warning.Point.Completed.Quest.Count = 10

#
#	SYSTEM SETTINGS: FRIEND
#
#	AMAS.Min.Friend.Count
#		Description: Minimum friend count for player, so as not to cause suspicion
#		Default: 2
#
#	AMAS.Warning.Point.Min.Friend
#		Description: Warning point at check AMAS.Min.Friend.Count
#		Default: 5

AMAS.Min.Friend.Count = 2
AMAS.Warning.Point.Min.Friend = 5

#
#	SYSTEM SETTINGS: PVP
#
#	AMAS.Warning.Point.NULL.Honor.And.Kills
#		Description: Warning point at check honor = 0 and pvp kills = 0
#		Default: 10
#

AMAS.Warning.Point.NULL.Honor.And.Kills = 10

#
#	SYSTEM SETTINGS: MONEY
#
#	AMAS.Max.Count.Money
#		Description: Maxminun money count (gold) for player, so as not to cause suspicion
#		Default: 2
#
#	AMAS.Warning.Point.Max.Count.Money
#		Description: Warning point at check AMAS.Max.Count.Money
#		Default: 5
#

AMAS.Max.Count.Money = 10000
AMAS.Warning.Point.Max.Count.Money = 10

#
#	SYSTEM SETTINGS: SPELLS
#
#	AMAS.Warning.Point.Trainer.Spells
#		Description: Warning point at check spell trainer (if > 1)
#		Default: 30

AMAS.Warning.Point.Trainer.Spells = 30

#
#	SYSTEM SETTINGS: ZONE
#
#	AMAS.Warning.Point.Warning.Zone
#		Description: Warning point at check warning zone (in DB amas_warning_zone)
#		Default: 10
#

AMAS.Warning.Point.Warning.Zone = 10

#
#	SYSTEM SETTINGS: IP
#
#	AMAS.Warning.Point.More.IP
#		Description: Warning point at check all playes ip in world > 1
#		Default: 5
#

AMAS.Warning.Point.More.IP = 20

#
#	SYSTEM SETTINGS: OTHER
#

AMAS.Min.Point.For.Warning.Account = 5

#
###################################################################################################